.news_container{
    background: #f9f9fb;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.news_container h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin: 80px 115px 40px 115px;
}

.news_elements{
    display: flex;
    flex-direction: column;
    margin: 0 115px;
}

.news_elements .news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news_item{
    width: 370px;
    height: 357px;
}

.news_item .news_img{
    width: 370px;
    height: 220px;
    filter: drop-shadow(0px 8px 40px rgba(130, 130, 141, 0.08));
    border-radius: 5px;
    background-position: center center;
}

.news_header {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin: 20px 0 0 0;
}

.news_date{
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.ico{
    width: 18px;
    height: 19px;
    background-size: cover;
    margin-right: 13px;
}

.news_date span{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* Доп. интерфейс / Текст 2 */
    color: #A8AAAE;
}

.nes_desc{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* Доп. интерфейс / Текст 1 */
    color: #676A71;
    margin-top: 12px;
}

.news_button{
    width: 270px;
    height: 56px;
    background: #009CB4;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin: 40px auto 80px auto;
}