@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Manrope';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.log_submit:hover, .search_information_button:hover, .news_button:hover, .save:hover{
  background: #01B8D5;
}

.log_submit:active, .search_information_button:active, .news_button:active, .save:active{
  background: #01BEDB;
  box-shadow: 0px 8px 40px rgba(1, 184, 212, 0.15);
}